body {
  background-color: #f5f1fe;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: white;
  border-radius: 15px;
  max-width: 600px;
  margin: 60px auto 30px auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 35px;
  margin: 10px 0px 10px 0px;
}

select {
  display: block;
  margin: 15px auto;
  text-align: center;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 10px 0;
  padding-left: 25px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.time {
  font-size: 34px;
  padding: 30px 0 30px 0;
  padding-right: 25px;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

